@model WebApplication4.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idnumdocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idnumdocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idventa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
